@import "../../variables.css";

.Board {
    margin: 2em auto;
    display: grid;
    grid-gap: 2px; 
    width: 45vw;
    height: 80vw;
    background-color: #474c52;
    border: 10px solid #474c52;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-right: 10px;

    max-width: 402px;
    max-height: 703px;
}