@import "../../variables.css";

.container {
    height: 100vh;
    display: flex;
    justify-self: center; 
    align-items: center;
}

.content {
    display: block;
    text-align: center;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 15px;
}

.title {
    padding-bottom: 15px; 
}

.link {
    text-decoration: none;
    color: var(--color-text);
}