@import "./variables.css";

* {
    box-sizing: border-box;
}

.App {
    font-family: sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    height: 100vh;
    margin: 0;
    padding: 0;
}