.GameStats {
    position: absolute;
    left: min(72.2vw, 900px);
    width: 22vw;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    top: 55vh;
}

.GameStats__left {
    right: 0;
    top: 22vh; 
    text-align: left;
}

.GameStats__right {
    right: 0;
    bottom: 0;
    text-align: left;
    margin-top: 10px;
}

.GameStats .value {
    font-size: 2.8rem;
    margin-bottom: 0.5em; 
    color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 845px) {
    .GameStats {
        top: 50vh;
    }
}

@media screen and (max-width: 776px) {
    .GameStats {
        top: 45vh;
    }
}